.start a{
  font-size: 60px;
  padding: 15px 30px;
  text-decoration: none;
}

.start button{
  border: none;
  border-radius: 150px;
  background-color:black;
}
.start button:hover{
  background-color:blueviolet;
}

/* ////////////////////// */

  .rest{
    display: flex;
    padding: 2%;
    margin: auto;
    flex-basis: 80px;
    justify-content: center;
  }

  .rest button{
    padding: 2px 20px;
    font-size: 25px;
    border: none;
    border-radius: 150px;
    background-color:black;
    color: white;
    cursor: pointer;
  }

  .rest button:hover{
    background-color: gray;
    color:black;
  }


  /* //////////////////////////// */


  .grid {
    display: table;
    border-spacing: 5px;
    margin: 0 auto;
    margin-top: 0;
  }



  
  .row {
    display: table-row;
  }
  .cell {
    width: 160px;
    height: 160px;
    background: grey;
    display: table-cell;
    font-size: 0px;
    cursor: pointer;
  }
 

  .players{
      background-color: beige;
      padding: 20px;
      display: flex;
      align-content: stretch;
      justify-content: center;
  }

  
  .players .one{
    /* flex:1; */
    margin: auto;
    flex-basis: 20%;
  }

.x{
  background-color: #7ea0d6;
  background-image:url('x_img.png');
  background-size: 160px;
}

.o{
  background-color: #bfb8b7;
  background-image: url('o_img.png');
  background-size: 160px;
}


.start{
  display: flex;
  padding: 2%;
  margin: auto;
  flex-basis: 80px;
  justify-content: center;
}

.background{
  background-image: url('background.jpg')
}

.gameName{
  color: white;
  display: flex;
  justify-content: center;
  font-size: 50px;
  font-weight: bolder;
}

.gameName h1{
  font-weight: bolder;
}